* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    min-height: 100vh;
    font-family: 'Open Sans', Arial, sans-serif;
}

.header,
.footer {
    display: flex;
    min-height: 80px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.center_content_header {
    display: flex;
    width: 1270px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    padding: 0;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    letter-spacing: 0.5px;
    line-height: normal;
    color: #333333;
}

.logo a {
    text-decoration: none;
    color: #333333;
    font-weight: 900;
}

.header i {
    color: #333333;
    align-items: center;
    margin-right: 5px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu ul {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #333333;
    font-weight: 900;
    font-size: 14px;
    padding-right: 7px;
}

.menu a:last-child {
    padding-right: 0px;
}

.menu a:hover {
    color: #5F5B5B;
}

.footer {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.footer p {
    color: #333333;
    font-weight: 900;
    font-size: 18px;
    padding-right: 7px;
}

.center {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.button_row {
    display: flex;
    justify-content: space-around;
    width: 380px;
}

.button_row a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    text-decoration: none;
    color: #333333;
    font-weight: 900;
    font-size: 14px;
    padding: 20px 40px;
    border: 2px solid #333333;
    transition-duration: 0.5s;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.button_row a:hover {
    background-color: #333333;
    color: aliceblue;
} 


.button_row:first-child {
    margin-bottom: 10px;
}


.user_log {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.answers {
    width: 40rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-item.done .page-link {
  z-index: 1;
  color: #fff;
  background-color: mediumseagreen;
  border-color: green;
}

.page-item.missed .page-link {
  z-index: 1;
  color: #fff;
  background-color: grey;
  border-color: green;
}
