.flex-mixin {
  display: flex;
  flex-direction: column;
}
.center-mixin {
  align-items: center;
  justify-content: center;
}
.text-mixin,
h2,
h1 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}
h1 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.a-style_1-mixin a,
.a-style_1-mixin .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.a-style_1-mixin a:hover,
.a-style_1-mixin .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
.links_bd_none a,
.links_bd_none .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.links_bd_none a:hover,
.links_bd_none .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
.links_bd_none a {
  border: none;
}
.links_bd_none a:hover {
  border: none;
}
.a-style_2-mixin .input_as_a {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.a-style_2-mixin .input_as_a:focus {
  outline: none;
}
.a-style_2-mixin a,
.a-style_2-mixin .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.a-style_2-mixin a:hover,
.a-style_2-mixin .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
.a-style_2-mixin a,
.a-style_2-mixin .input_as_a {
  color: #847f7f;
}
.a-style_2-mixin a:hover,
.a-style_2-mixin .input_as_a:hover {
  color: #333333;
}
.submit-mixin {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding: 0px;
  width: 100px;
  height: 40px;
  text-align: center;
}
.common-link-mixin {
  align-items: center;
  justify-content: center;
  color: #333333;
  display: flex;
  text-align: center;
  font-size: 14px;
  padding: 20px 40px;
  border: 1px solid #333333;
  transition-duration: 0.5s;
  border-radius: 5px;
  width: 50px;
  height: 10px;
  box-sizing: content-box;
}
.common-link-mixin:hover {
  background-color: #333333;
  color: aliceblue;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  min-height: 100vh;
  font-family: 'Open Sans', Arial, sans-serif;
}
.header,
.footer {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 80px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.header {
  margin-bottom: 50px;
}
.header .center_content_header {
  display: flex;
  width: 1270px;
  justify-content: space-between;
  align-items: center;
}
.header .center_content_header .logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  padding: 0;
  font-size: 24px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  line-height: normal;
  color: #333333;
}
.header .center_content_header .logo i {
  color: #333333;
  align-items: center;
  margin-right: 5px;
}
.header .center_content_header .logo a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
}
.menu ul {
  display: flex;
  list-style-type: none;
  margin: auto;
}
.menu ul li {
  padding: 0 5px;
}
.menu ul li a,
.menu ul li .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.menu ul li a:hover,
.menu ul li .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
.menu ul li:hover ul {
  display: block;
  box-sizing: content-box;
  position: absolute;
  list-style-type: none;
  border: 1px solid #c7c7c7;
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.menu ul ul {
  display: none;
}
.menu ul ul li {
  border-bottom: 1px solid #c7c7c7;
  padding: 10px;
}
.menu ul ul li:last-child {
  border-bottom: 0px;
}
.menu ul ul li a,
.menu ul ul li .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.menu ul ul li a:hover,
.menu ul ul li .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
.menu ul ul li a {
  border: none;
}
.menu ul ul li a:hover {
  border: none;
}
.menu .link_active {
  border-bottom: 1px solid #98999e;
  padding-bottom: 5px;
}
.tab-link ul {
  display: flex;
  list-style-type: none;
  margin: auto;
}
.tab-link ul li {
  padding: 0 5px;
}
.tab-link ul li a,
.tab-link ul li .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.tab-link ul li a:hover,
.tab-link ul li .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
.tab-link ul li:hover ul {
  display: block;
  box-sizing: content-box;
  position: absolute;
  list-style-type: none;
  border: 1px solid #c7c7c7;
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.tab-link ul ul {
  display: none;
}
.tab-link ul ul li {
  border-bottom: 1px solid #c7c7c7;
  padding: 10px;
}
.tab-link ul ul li:last-child {
  border-bottom: 0px;
}
.tab-link ul ul li a,
.tab-link ul ul li .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.tab-link ul ul li a:hover,
.tab-link ul ul li .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
.tab-link ul ul li a {
  border: none;
}
.tab-link ul ul li a:hover {
  border: none;
}
.tab-link .link_active {
  border-bottom: 1px solid #98999e;
  padding-bottom: 5px;
}
.tab-link ul {
  display: flex;
  justify-content: space-around;
}
.tab-link ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
}
.tab-link .tab_active {
  border: 2px solid #fff;
  border-bottom: 1px solid #fff;
}
.content,
.center,
.center_full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content,
.center_full {
  flex: 1;
}
.content {
  justify-content: flex-start;
}
.button_row {
  display: flex;
  justify-content: space-around;
  width: 380px;
  margin-bottom: 10px;
}
.button_row a {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  padding: 20px 40px;
  border: 1px solid #333333;
  transition-duration: 0.5s;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  box-sizing: content-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.button_row a:hover {
  background-color: #333333;
  color: aliceblue;
}
.answer_list {
  margin: 70px 0px;
}
.answer_list form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer_list form .custom-control-label:before {
  background-color: #fff;
}
.answer_list form .answer_box {
  margin-bottom: 40px;
}
.answer_list form .answer_box .row {
  min-width: 400px;
}
.answer_list form .answer_box .row #sortable1,
.answer_list form .answer_box .row #sortable2 {
  border: 2px solid white;
  border-radius: 10px;
  height: 100%;
  list-style-type: none;
  margin: 5px 5px 5px 5px;
  justify-content: center;
  padding: 10px;
}
.answer_list form .answer_box .row #sortable1 li,
.answer_list form .answer_box .row #sortable2 li {
  margin: 5px 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  border-radius: 5px;
  background: rgba(240, 248, 255, 0.8);
  border: 1px solid rgba(51, 51, 51, 0.2);
  color: #333333;
}
.answer_list form .answer_box .row #sortable1 li:hover,
.answer_list form .answer_box .row #sortable2 li:hover {
  cursor: grab;
}
.answer_list form .timer_box {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 250px;
}
.answer_list form .timer_box #timer {
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 7px;
  border-radius: 5px;
  background-color: white;
}
.answer_list form .timer_box .timer_pages {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
}
.answer_list form .timer_box .sub {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.answer_list form .timer_box #timer,
.answer_list form .timer_box .timer_pages,
.answer_list form .timer_box .sub input {
  width: 80px;
  height: 40px;
  text-align: center;
}
.errorlist {
  color: red;
  padding-left: 20px;
}
.form_create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.form_create input,
.form_create select,
.form_create textarea {
  margin-bottom: 20px;
  border-radius: 5px;
  resize: none;
  cursor: pointer;
}
.form_create input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding: 0px;
  width: 100px;
  height: 40px;
  text-align: center;
}
.form_create label {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}
.form_create .center a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #847f7f;
  font-size: 12px;
  align-self: flex-start;
}
.form_create .center a:hover {
  color: #333333;
  text-decoration: none;
}
.denied {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.denied p,
.denied a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}
.links a {
  align-items: center;
  justify-content: center;
  color: #333333;
  display: flex;
  text-align: center;
  font-size: 14px;
  padding: 20px 40px;
  border: 1px solid #333333;
  transition-duration: 0.5s;
  border-radius: 5px;
  width: 50px;
  height: 10px;
  box-sizing: content-box;
  text-decoration: none;
}
.links a:hover {
  background-color: #333333;
  color: aliceblue;
}
.test_welcome,
h2 {
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.list_container div:first-child {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.list_container {
  margin-bottom: 30px;
}
.list_container div:first-child {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.iter_list {
  display: flex;
  width: 570px;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.iter_list button {
  align-items: center;
  justify-content: center;
  color: #333333;
  display: flex;
  font-size: 14px;
  padding: 20px 40px;
  border: 1px solid #333333;
  transition-duration: 0.5s;
  border-radius: 5px;
  width: 50px;
  height: 10px;
  box-sizing: content-box;
  padding: 7px 30px;
  background-color: transparent;
  text-align: center;
  margin: auto;
  line-height: 5px;
}
.iter_list button:hover {
  background-color: #333333;
  color: aliceblue;
}
.iter_list .a_button {
  align-items: center;
  justify-content: center;
  color: #333333;
  display: flex;
  text-align: center;
  font-size: 14px;
  padding: 20px 40px;
  border: 1px solid #333333;
  transition-duration: 0.5s;
  border-radius: 5px;
  width: 50px;
  height: 10px;
  box-sizing: content-box;
  padding: 7px 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 300;
}
.iter_list .a_button:hover {
  background-color: #333333;
  color: aliceblue;
}
.iter_list .input_as_a {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.iter_list .input_as_a:focus {
  outline: none;
}
.iter_list a,
.iter_list .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.iter_list a:hover,
.iter_list .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
.iter_list a,
.iter_list .input_as_a {
  color: #847f7f;
}
.iter_list a:hover,
.iter_list .input_as_a:hover {
  color: #333333;
}
.table_test {
  max-width: 800px;
}
.table_test td {
  vertical-align: middle;
}
.table_result {
  max-width: 800px;
}
.table_result tr {
  text-align: center;
}
.bl_result_info {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  width: 1000px;
}
.bl_result_info .nav {
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin: 5px;
  width: 270px;
  margin-top: 30px;
}
.bl_result_info .nav form {
  margin: 5px;
  width: 100%;
  text-align: center;
}
.bl_result_info .nav form .btn_repeat {
  width: 92%;
}
.bl_result_info a {
  margin: 5px;
}
.bl_result_info .result_info {
  border-top: solid 1px #c5c8d3;
  border-bottom: solid 1px #c5c8d3;
}
.bl_result_info .question {
  color: #485ca0;
  font-weight: 600;
}
.bl_result_info .answers_wrong {
  font-weight: 600;
  margin-top: 20px;
}
.bl_result_info .answer_info {
  font-size: 13px;
  color: #6c757d;
  margin-bottom: -2px;
}
.bl_result_info .answer {
  padding-bottom: 15px;
  border-bottom: solid 1px #c5c8d3;
}
.question_create {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question_create label,
.question_create h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}
.question_create input[type="file"] {
  margin-bottom: 20px;
}
.question_create input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding: 0px;
  width: 100px;
  height: 40px;
  text-align: center;
}
.question_create textarea {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  resize: none;
}
.question_create .question_create_form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.question_create .question_create_form p {
  color: #4B0082;
  align-self: center;
  padding: 5px;
  text-decoration: underline;
}
.question_create .answers_create {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.question_create .answers_create .answer_create {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.question_create .answers_create .answer_create li {
  display: flex;
  flex-direction: column;
}
.question_create .answers_create .answer_create li:first-child ~ * {
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}
.question_create .answers_create .answer_create li:first-child ~ * label {
  padding-right: 10px;
  margin-bottom: 0px;
}
.question_create .answers_create .answer_create input[type="number"] {
  text-align: center;
  height: 27px;
  width: 50px;
  margin: auto 0;
  padding-right: 0;
}
.question_create .answers_create .answer_create input[type="checkbox"] {
  height: 27px;
  width: 18px;
  margin: auto 0;
}
.welcome_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  margin-bottom: 20px;
}
.welcome_admin h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}
.more_answers {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.more_answers p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
}
.more_answers p:hover {
  color: #5F5B5B;
  cursor: pointer;
}
.footer {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.footer p {
  color: #333333;
  font-weight: 900;
  font-size: 18px;
  padding-right: 7px;
}
.bl_json_upload {
  display: flex;
  justify-content: space-between;
}
.bl_json_upload div {
  display: flex;
  flex-direction: column;
}
fieldset {
  border: 2px solid #fff;
  border-top: none;
  margin-bottom: 20px;
  padding: 20px;
}
fieldset legend {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  width: 60%;
  text-align: center;
}
fieldset .input_as_a {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
fieldset .input_as_a:focus {
  outline: none;
}
fieldset a,
fieldset .input_as_a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
fieldset a:hover,
fieldset .input_as_a:hover {
  color: #847f7f;
  text-decoration: none;
  border-bottom: 1px solid #98999e;
}
fieldset a,
fieldset .input_as_a {
  color: #847f7f;
}
fieldset a:hover,
fieldset .input_as_a:hover {
  color: #333333;
}
fieldset label[for="id_questions"] {
  display: flex;
}
fieldset .selector {
  display: flex;
  align-items: center;
  justify-content: center;
}
fieldset .selector ul {
  margin: 0px 5px 0px 5px !important;
}
fieldset .selector ul a:hover {
  border-bottom: none;
}
fieldset .selector div h2 {
  display: none;
}
fieldset .selector p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset .selector p label {
  margin-top: 0px !important;
}
fieldset .selector p label,
fieldset .selector p input {
  margin: 0px;
}
fieldset .selector p input {
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
fieldset .selector #change {
  border-radius: 0;
}
fieldset .selector #change a {
  text-shadow: none;
  color: #333333;
  padding: 0px;
}
fieldset .selector #change a:hover {
  color: #847f7f;
  border-bottom: none;
  padding: 0px;
}
fieldset .selector .selector-chosen {
  align-self: flex-end;
}
.test_form_json a {
  text-transform: unset;
}
