{% load static i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}
        <title>Base</title>
    {% endblock title %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock styles %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <div class="center_content_header">
            <div class="logo">
                <i class="fas fa-check-circle"></i>
                <a href="{% url 'mainapp:main' %}">easytest</a>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="{%  url 'mainapp:main' %}">{% trans 'НА ГЛАВНУЮ' %}</a>
                        <a href="#">{% trans 'ВОПРОСЫ' %}</a>
                        <a href="#">{% trans 'СОЗДАТЬ ТЕСТ' %}</a>
                        <a href="#">{% trans 'ПРОЙТИ ТЕСТ' %}</a>
                        <a href="#">{% trans 'ВОЙТИ' %}</a>
                        <a href="#">{% trans 'КОНТАКТЫ' %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}
    <!--       для того чтобы прижать футер к низу экрана, при контенте, занимающем меньше экрана, в стиле главного блока-контейнера требуется прописать flex: 1;-->
    {% endblock content %}

    <div class="footer">
        <p>GeekUniversity Python 10/06/18</p>
    </div>
</body>

</html>
