<!DOCTYPE html>
{% load staticfiles i18n %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_authapp.css' %}">
    {% endblock %}

</head>
<body>
	<div class="container">
         <div class="login">
            <div class="h2 text-center head">
                {% block name_page %}
                    {% trans 'Login to the system' %}
                {% endblock %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
	</div>
</body>
</html>