{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Группы' %}</title>
{% endblock title%}

{% block content %}

    <div class="center_full">
        {% if object_list %}
            <h2>{% trans 'Выберите группу для просмотра результатов' %}</h2>

            <div class="list_container">
                {% for object in object_list %}
                    <div class="iter_list">
                        <a href="{% url 'mainapp:group' object.id %}">{{ object.title }}</a>
                        <a href="{% url 'mainapp:group_update' object.pk %}" class="a_button">{% trans 'Изменить' %}</a>
                        <form method="post" action="{% url 'mainapp:group_delete' object.pk %}">
                            {% csrf_token %}
                            <button class="base_link" type="submit">
                                {% trans 'Удалить' %}
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <h2>{% trans 'Еще нет ни одной группы' %}</h2>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'mainapp:group_create' %}">{% trans 'Создать группу' %}</a>
    </div>

{% endblock content %}

