{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Главная' %}</title>
{% endblock title%}

{% block content %}
    <div class="center">
        <div class="button_row">
            <a href="#">{% trans 'Войти пользователем' %}</a>
            <a href="#">{% trans 'Войти админом' %}</a>
        </div>
        <div class="button_row">
            <a href="#">{% trans 'Создать тест' %}</a>
            <a href="#">{% trans 'Пройти тест' %}</a>
        </div>
    </div>
{% endblock content %}

