{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Главная' %}</title>
{% endblock title%}

{% block content %}
    {% if user.is_authenticated %}
    <div class="user_log">
        <p>{% trans 'Вы вошли под именем: ' %}{{ user }}</p>
    </div>
    {% else %}
    {% endif %}
    <div class="center">
        <div class="button_row">
            <a href="{% url 'mainapp:redirect' 'test' %}">{% trans 'Войти пользователем' %}</a>
            <a href="{% url 'mainapp:redirect' 'admin' %}">{% trans 'Войти админом' %}</a>
        </div>
        <div class="button_row">
            <a href="#">{% trans 'Создать тест' %}</a>
            <a href="#">{% trans 'Пройти тест' %}</a>
        </div>
    </div>
{% endblock content %}

