{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Вопросы' %}</title>
{% endblock title%}

{% block content %}
    <div class="center">
        <div class="card" style="width: 45rem;">
            <div class="card-body">
                <h5 class="card-title">{% trans 'Вопрос № 1' %} </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.cat.title }}</h6>
                <p class="card-text">{{ object.description }}</p>
                {% include './answer_form.html' with object_list=object.answers.all %}

                <!--to do - сделать ссылки по вопросам теста -->
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1">Назад</a>
                        </li>
                        <li class="page-item done"><a class="page-link" href="#">1</a></li>
                        <li class="page-item done"><a class="page-link" href="#">2</a></li>
                        <li class="page-item missed"><a class="page-link" href="#">3</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">4 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Ответить</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Пропустить</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}