{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Созданные вопросы' %}</title>
{% endblock title%}

{% block content %}

    <div class="center_full">
        {% if object_list %}
            <p class="test_welcome">{% trans 'Список созданных Вами вопросов' %}</p>
            <div class="list_container">
                <table class="table table_result">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>{% trans 'Вопрос' %}</th>
                        <th>{% trans 'Используется в тестах' %}</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'mainapp:question_edit' object.pk %}">{{ object.description }}</a></td>
                            <td>
                                {{ object.get_related_tests }}
                            </td>
                            <td>
                                {% if object.get_related_tests == '-' %}
                                    <form method="post" action="{% url 'mainapp:question_delete' object.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-secondary" type="submit">
                                            {% trans 'Удалить' %}
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <p class="test_welcome">{{ user.username|upper }}, {% trans 'Вы пока не создали ни одного вопроса '|upper %}</p>
        {% endif %}
            <a href="{% url 'mainapp:question_create' %}" class="btn btn-secondary">{% trans 'Создать вопрос' %}</a>
    </div>

{% endblock content %}
