{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Создание вопроса' %}</title>
{% endblock title%}

{% block javascript %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/mainapp.js' %}"></script>
{% endblock javascript %}

{% block content %}

    <div class="center_full">
        <div class="welcome_admin">
            <h2>{% trans 'Дорогой пользователь '|upper %}{{ user.username|upper }}</h2>
            <h2>{% trans 'Здесь вы можете создать вопросы и присвоить им ответы'|upper %}</h2>
        </div>

        <form class="form_create question_create" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="question_create_form">
                {{ form }}
            </div>
            <div class="answers_create">
                {{ answers.management_form }}
                {{ answers.non_form_errors }}
                {% for form in answers|slice:':3' %}
                    <div class="answer_create">
                        {{ form.as_ul }}
                    </div>
                {% endfor %}
            </div>
            <div class="more_answers">
                <p>{% trans 'Добавить больше ответов' %}</p>
            </div>
            <div class="answers_create hidden_answers_forms">
                {% for form in answers|slice:'3:' %}
                    <div class="answer_create">
                        {{ form.as_ul }}
                    </div>
                {% endfor %}
            </div>
            <div class="sub">
                <input type="submit" class="btn btn-secondary" value="Создать">
            </div>
        </form>
    </div>

{% endblock content %}