{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Создание теста' %}</title>
{% endblock title%}

{% block javascript %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/mainapp.js' %}"></script>
{% endblock javascript %}

{% block content %}

    <div class="center_full">
        <div class="welcome_admin">
            <h2>{{ title }}</h2>
        </div>

        <form class="form_create" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans 'Загрузив json файл' %}</legend>
                <div class="bl_json_upload">
                    <div>
                        {{ form.file.label_tag }} {{ form.file.errors }} {{ form.file }}
                    </div>
                    <div>
                        <h2>{% trans 'Пример файла:' %}</h2>
                        <a href="/media/files/template_create_test.json" class="btn btn-secondary">{% trans 'Скачать' %}</a>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Заполнив поля</legend>
                {% for field in form %}
                    {% if field.name != 'file' %}
                        {{ field.label_tag }} {{ field.errors }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </fieldset>

            <a href="{% url 'mainapp:questions_staff' %}">{% trans 'Изменить вопросы' %}</a>
            <div class="center">
                <div class="sub">
                    <input type="submit" class="btn btn-secondary" value="{% trans 'Сохранить' %}">
                </div>
            </div>
        </form>
    </div>

{% endblock content %}