{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Созданные категории' %}</title>
{% endblock title%}

{% block content %}

    <div class="center_full">
        <div class="list_container">
            {% for object in object_list %}
	            <div class="iter_list">
		            <p class="list_title">{{ object.title }}</p>
					<a href="{% url 'mainapp:category_edit' object.pk %}" class="base_link">{% trans 'Изменить' %}</a>
		            <form method="post" action="{% url 'mainapp:testcategory_delete' object.pk %}">
			            {% csrf_token %}
    		            <button class="base_link" type="submit">
    			            {% trans 'Удалить' %}
    		            </button>
		            </form>
	            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}