{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Создание теста' %}</title>
{% endblock title%}

{% block javascript %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/mainapp.js' %}"></script>
{% endblock javascript %}

{% block content %}

    <div class="center_full">
        <div class="welcome_admin">
            <h2>{% trans 'Дорогой пользователь '|upper %}{{ user.username|upper }}</h2>
            <h2>{% trans 'Здесь вы можете создать тест' %}</h2>
        </div>

        <form class="form_create" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{% trans 'Создайте тест, загрузив JSON файл либо заполнив поля ввода данными' %}</p>
            <h2>{% trans 'Пример json файла:' %}</h2>
            <p><a href="/media/files/template_create_test.json" class="btn btn-secondary">{% trans 'Скачать' %}</a></p>

            {{ form }}

            <a href="{% url 'mainapp:questions_staff' %}">{% trans 'Изменить вопросы' %}</a>
            <div class="center">
                <div class="sub">
                    <input type="submit" class="btn btn-secondary" value="{% trans 'Сохранить' %}">
                </div>
            </div>
        </form>
    </div>

{% endblock content %}