{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Тесты' %}</title>
{% endblock title%}

{% block content %}

    <div class="center">
        <ul><b>{% trans 'Выберите тест для прохождения' %}</b></p>
            {% for object in object_list %}
                <li>
                    <form action="{% url 'mainapp:result_create' object.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="test_name" value="{{ object.title }}" class="btn btn-link">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}

