{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    <title>{% trans 'Созданные тесты' %}</title>
{% endblock title%}

{% block content %}

    <div class="center_full">
    {% if object_list %}
        <p class="test_welcome">{% trans 'Ваши тесты, пользователь '|upper %}{{ user.username|upper }}</p>
        <div class="list_container">
            {% include 'mainapp/includes/inc_tests_staff_list.html' %}
        </div>
    {% else %}
        <p class="test_welcome">{{ user.username|upper }}, {% trans 'Вы пока не создали ни одного теста '|upper %}</p>
        <a class="btn btn-secondary" href="{% url 'mainapp:test_create' %}">{% trans 'Создать тест' %}</a>
    {% endif %}
    </div>

{% endblock content %}